@import '../../static/scss/variables';
@import '../../static/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables';
@import '../../static/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins';

#impact {

  .container-full-width {
    width: 100%;
  }

  // Home Page
  #lead {
    display: table;
    position: relative;

    #lead-content {
      display: table-cell;
      vertical-align: middle;
    }

    #video,
    #video-image {
      background-color: #000;
      background-size: cover;
      height: auto;
      left: 50%;
      min-height: 150%;
      min-width: 150%;
      position: fixed;
      top: 50%;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      width: auto;
      z-index: -100;
    }

    #video-image {
      display: none;
      min-height: 100%;
      min-width: 100%;
    }

    h1 {
      color: #fff;
      font-family: $font-family-sans-serif;
      font-size: 120px;
      font-style: normal;
      font-weight: 900;
      line-height: 1em;
      margin: 0;
      text-align: center;
      text-transform: uppercase;

      @media (max-width: $screen-xs-max) {
        font-size: 55px;
      }
    }

    a:hover,
    a:focus {
      text-decoration: none;
    }

    h2 {
      color: $ucf-gold;
      font-family: $font-family-sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 9px;
      margin: 0;
      text-align: center;
      text-transform: uppercase;

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
      }
    }

    hr {
      border-bottom-color: transparent;
      border-top-color: $ucf-gold;
      border-top-width: 2px;
      margin: 3em auto;
      width: 85%;

      @media (max-width: $screen-xs-max) {
        margin: 1.3em auto;
        width: 50%;
      }
    }

    .featured-link {
      @include transition(opacity .3s ease-in-out);

      &.fade {
        @include transition(opacity .3s ease-in-out);
        opacity: .3;
      }
    }

    .alumni {
      margin-bottom: 150px;
      @media (max-width: $screen-sm-max) {
        margin-bottom: 40px;
      }
    }

    .alumni-title {
      color: #fff;
      font-family: $font-family-sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 900;
      line-height: 45px;
      text-align: center;
      text-transform: uppercase;

      @media (max-width: $screen-sm-max) {
        font-size: 18px;
        line-height: 24px;
      }
    }

    .alumni-name {
      color: $ucf-gold;
      font-family: $font-family-sans-narrow;
      font-size: 24px;
      font-style: italic;
      font-weight: 400;
      letter-spacing: 2px;
      text-align: center;

      @media (max-width: $screen-sm-max) {
        font-size: 16px;
        margin-bottom: 40px;
      }
    }

    .explore {
      bottom: 10px;
      position: absolute;
      text-align: center;
      width: 100%;

      p {
        color: #fff;
        font-family: $font-family-sans-serif;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
      }

      i {
        color: #fff;
        font-size: 40px;
      }
    }

  } // End #lead

}// end #impact
