h1 {
  color: #fff;
  font-size: 90px;
  font-weight: 900;
  margin-top: 1.5em;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase; }

#lead h3,
#lead p,
#lead .alumni-title {
  color: #fff;
  font-family: "Gotham SSm 7r", "Gotham SSm A", "Gotham SSm B";
  text-align: center;
  text-transform: uppercase; }
#lead a:hover, #lead a:focus {
  text-decoration: none; }
#lead h2 {
  color: #ffc904;
  letter-spacing: 6px;
  margin: 0;
  text-align: center;
  text-transform: uppercase; }
#lead .alumni-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 33px; }
#lead .alumni {
  color: #ffc904;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 24px;
  font-style: italic;
  text-align: center; }
#lead hr {
  border-bottom-color: transparent;
  border-top-color: #ffc904;
  border-top-width: 2px;
  margin: 3.0em auto;
  width: 85%; }
#lead .explore {
  margin-top: 6em; }
  #lead .explore p {
    font-size: 22px;
    font-weight: 600; }
