@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
#lead {
  display: table; }
  #lead #lead-content {
    display: table-cell;
    vertical-align: middle; }
  #lead #video,
  #lead #videoImage {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 150%;
    min-height: 150%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg) no-repeat;
    background-size: cover; }
  #lead #videoImage {
    display: none; }
  #lead h1 {
    color: #fff;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    font-size: 120px;
    font-weight: 900;
    line-height: 1em;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase; }
  #lead h3,
  #lead p,
  #lead .alumni-title {
    color: #fff;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    text-align: center;
    text-transform: uppercase; }
  #lead a:hover, #lead a:focus {
    text-decoration: none; }
  #lead h2 {
    color: #ffc904;
    font-size: 32px;
    letter-spacing: 9px;
    margin: 0;
    text-align: center;
    text-transform: uppercase; }
  #lead .alumni-title {
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 33px; }
  #lead .alumni {
    color: #ffc904;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 24px;
    font-style: italic;
    text-align: center; }
  #lead hr {
    border-bottom-color: transparent;
    border-top-color: #ffc904;
    border-top-width: 2px;
    margin: 3.0em auto;
    width: 85%; }
  #lead .explore {
    margin-top: 6em; }
    #lead .explore p {
      font-size: 26px;
      font-weight: 600; }

.container-full-width {
  width: 100%; }

#ucf-impact.container-full-width {
  background-color: #000; }
#ucf-impact .content {
  margin-top: 100px;
  margin-bottom: 100px; }
#ucf-impact h2,
#ucf-impact p {
  color: #fff; }
#ucf-impact h2 {
  border-top: 3px solid #fff;
  font-size: 120px;
  padding-top: 30px;
  text-transform: uppercase; }
#ucf-impact h3 {
  color: #ffc904;
  font-size: 24px;
  margin-bottom: 25px;
  text-transform: uppercase; }
#ucf-impact p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 28px;
  line-height: 40px; }

#give-now.container-full-width {
  background-color: #fff; }
#give-now h2,
#give-now btn {
  text-transform: uppercase; }
#give-now h2 {
  font-size: 72px;
  margin-bottom: 20px; }
#give-now p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  line-height: 28px;
  padding-top: 35px; }
#give-now .btn-gold {
  color: #000;
  background-color: #ffc904;
  border-color: #ffc904;
  font-size: 27px;
  margin-top: 60px;
  margin: 45px 0 0;
  padding: 40px;
  text-transform: uppercase; }
