h1 {
	text-align: center;
	color: #fc0;
	font-size: 40px;
}

blockquote {
	text-align: center;
}

blockquote p {
	font-size: 26px;
}

.impact-wrapper {
	margin-top: 30px;
}

.impact-person {
	margin-bottom: 30px;
	border: 10px solid #000;
	background-color: #000;
	overflow: hidden;
}

.impact-label {
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 1.0;
	-webkit-transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	transition: opacity 0.25s;
}

.impact-details {
	height: 45px;
	margin-bottom: -45px;
	position: relative;
	top: -50px;
	opacity: 0;
	text-align: center;
	background-color: #000;
	-webkit-transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	transition: opacity 0.25s;
}

.impact-name,
.impact-title {
	color: #fff;
	margin-bottom: 3px;
}

.impact-person:hover .impact-label {
	opacity: 0;
}

.impact-person:hover .impact-details {
	opacity: 1.0;
}

.impact-label h2 {
	text-align: center;
	margin: 20px auto 0 auto;
	color: #fff;
}


.ucf-gold {
	color: #fc0;
}

@media (max-width: 1170px) {
	.impact-label h2 {
		font-size: 20px;
	}
}

@media (max-width: 979px) {
	.impact-label h2 {
		font-size: 15px;
	}
}

@media (max-width: 767px) {
	.impact-person {
		width: 270px;
		margin: 10px auto;
	}

	.impact-label,
	.impact-details {
		width: 270px;
	}

}