// Site-wide header styles
// ...


// Site-wide footer styles

.site-footer {
  background-color: #000;

  &,
  & p,
  & ol,
  & ul,
  & a {
    color: #fff;
  }
}


// Footer profile list styles

.profile-list-item {
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &.profile-item-lead {
    background-color: $ucf-gold;

    .profile-item-content {
      color: #000;
      padding: 10% 25% 10% 10%;
      text-align: left;

      @media (max-width: $screen-sm-max) {
        padding: 10%;
      }
    }
  }
}

.profile-img {
  @include transition(opacity .3s ease-in-out);
  background-size: cover;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;

  &.profile-img-bw {
    opacity: 1;
    z-index: 1;

    .profile-list-item:hover &,
    .profile-list-item:focus & {
      opacity: 0;
    }
  }

  &.profile-img-c {
    opacity: 0;
    z-index: 2;

    .profile-list-item:hover &,
    .profile-list-item:focus & {
      opacity: 1;
    }
  }
}

.profile-item-inner {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.profile-item-content {
  color: #fff;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 3;
}

.profile-list-title {
  @include narrow-text();
  font-size: 50px;
  margin-top: 0;

  @media (max-width: $screen-sm-max) {
    font-size: 36px;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 23px;
  }
}

.profile-list-description {
  font-size: 18px;
  line-height: 1.25;
  margin-top: 20px;

  @media (max-width: $screen-sm-max) {
    font-size: 16px;
    margin-top: 15px;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 12.5px;
    margin-top: 10px;
  }
}

.profile-title {
  display: block;
  font-family: $font-family-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  margin: 0;
  max-width: 85%;
  position: absolute;
  right: 5%;
  top: 6%;

  @media (max-width: $screen-sm-max) {
    font-size: 16px;
  }
}

.profile-title-alt {
  @include narrow-text();
  @include transition(background .3s ease-in-out);
  bottom: 0;
  display: block;
  font-size: 36px;
  left: 0;
  padding: 10%;
  position: absolute;
  right: 0;
  width: 100%;

  &:empty {
    display: none;
  }

  &:before {
    @include gradient-horizontal($ucf-gold, rgba(0, 0, 0, 0));
    @include transition(opacity .3s ease-in-out);
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

    // IE9-specific gradient hack
    .ie9 & {
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYzkwNCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      filter: none;
    }
  }

  .profile-list-item:hover &:before,
  .profile-list-item:focus &:before {
    opacity: 1;
  }

  @media (max-width: $screen-sm-max) {
    font-size: 30px;
  }
}


// Bottom footer contents

.footer-section {
  font-size: 13px;
  line-height: 1.8;
  margin-top: 10%;
  padding: 0 10%;

  @media (min-width: $screen-lg-min) {
    font-size: 14px;
  }

  @media (max-width: $screen-xs-max) {
    margin-top: 30px;
    padding: 0 6% 30px;
  }

  &.give-section-white {
    margin-top: -5%;

    @media (max-width: $screen-sm-max) {
      margin-top: 30px;
    }

    &,
    p,
    ol,
    ul,
    a {
      color: #000;
    }

    .give-section-heading {
      font-size: 48px;

      @media (min-width: $screen-lg-min) {
        font-size: 54px;
      }
    }

    p {
      font-size: 20px;
      line-height: 1.3;

      @media (min-width: $screen-lg-min) {
        font-size: 22px;
      }
    }

    .btn {
      margin-top: 1.2em;
    }
  }

  &.footer-address {
    @include sans-serif-text();
    border-right: 2px solid #fff;
    text-transform: uppercase;

    @media (max-width: $screen-sm-max) {
      padding-left: 0;
    }

    @media (max-width: $screen-xs-max) {
      border-bottom: 2px solid #fff;
      border-right: 0;
      padding-bottom: 30px;
      padding-left: 6%;
    }

    address {
      line-height: inherit;
    }
  }

  &.footer-headlines {
    padding-right: 0;

    @media (max-width: $screen-xs-max) {
      padding-right: 6%;
    }

    .ucf-logo-white {
      margin-top: 30px;
    }
  }
}

.footer-section-heading {
  margin-bottom: 1.1em;
  margin-top: 0;
  text-transform: uppercase;
}


// Site-wide layout elements

.give-section-white {
  background-color: #fff;
  font-family: $font-family-serif;
  padding: 10%;

  @media (max-width: $screen-sm-max) {
    padding: 8%;
  }

  &,
  & p,
  & ol,
  & ul {
    color: #000;
  }
}

.give-section-heading {
  @include narrow-text();
  margin: 0 0 .5em;
}
