$profile-text-margin: 24px;
$profile-text-margin-xs: 16px;

.page-profile {
  font-size: 20px;
  line-height: 1.6;

  @media (max-width: $screen-xs-max) {
    font-size: 16px;
  }

  .profile-body {
    padding-bottom: 100px;
    padding-top: 30px;

    @media (max-width: $screen-xs-max) {
      padding-bottom: 40px;
      padding-top: 20px;
    }
  }

  .intro {
    background-color: #000;
    padding: 25px 0;
  }

  .lead {
    border-bottom: 1px solid $offwhite;
    color: $offwhite;
    font-size: 28px;
    padding-bottom: 30px;

    @media (min-width: $screen-lg-min) {
      font-size: 32px;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 24px;
    }

    a {
      color: $ucf-gold;

      &:hover,
      &:focus {
        color: $ucf-gold-dark;
        text-decoration: none;
      }
    }
  }

  .social {
    margin-bottom: $profile-text-margin;
    margin-top: 30px;
  }

  .section-heading {
    font-size: 24px;
    font-weight: 300;
  }

  .embed-responsive {
    margin-bottom: 30px;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 20px;
    }
  }

  p {
    font-weight: 400;
    margin: $profile-text-margin 0 $profile-text-margin / 2;

    @media (max-width: $screen-xs-max) {
      margin: $profile-text-margin-xs 0 $profile-text-margin-xs / 2;
    }
  }

  .sidebar-blockquote {
    font-size: 26px;
    margin-top: 80px;
    text-align: right;

    @media (min-width: $screen-lg-min) {
      font-size: 28px;
    }

    @media (max-width: $screen-sm-max) {
      margin-top: 0;
      text-align: left;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 22px;
      margin-bottom: 20px;
    }
  }

  .dl-horizontal {
    margin-top: $profile-text-margin;

    @media (max-width: $screen-xs-max) {
      margin-top: $profile-text-margin-xs;
    }

    dt {
      @include sans-serif-text();
      font-weight: 700;
      text-align: left;
    }

    dd {
      margin-bottom: $profile-text-margin;
      margin-left: 200px;

      @media (max-width: $screen-xs-max) {
        margin-bottom: $profile-text-margin-xs;
        margin-left: 0;
      }
    }
  }
}
