.page-profile {
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 24px 0 12px;
  }

  .lead {
    border-bottom: 1px solid $offwhite;
    color: $offwhite;
    padding: 20px 0 30px;

    a {
      color: $ucf-gold;

      :hover {
        color: $ucf-gold-dark;
        text-decoration: none;
      }
    }
  }

  .dl-horizontal {
    font-size: 22px;
    line-height: 32px;

    dt {
      font-family: $font-family-sans-serif;
      font-weight: 700;
      text-align: left;
    }

    dd {
      margin-bottom: 24px;
    }
  }
}
