.comments {
  font-size: 18px;

  .row {
    margin-bottom: 20px;
  }

  .comment-item {
    background-color: $light-yellow-color;
    padding: 25px;
  }

  .comment-date {
    font-weight: bold;
    text-transform: uppercase;
  }

  .comment-content {
    p {
      font-size: 18px;
    }
  }

  .comment-author {
    font-size: 15px;
    font-weight: bold;
  }
}

#comment-form {
  textarea,
  input {
    width: 100%;
  }
}

.post-type-search {
  .post-type-search-results {
    background-color: $light-yellow-color;
    display: none;
    margin-bottom: 10px;
    padding-top: 10px;

    .post-type-search-message {
      padding: 0 10px 10px;
    }
  }

  ul {
    list-style-type: none;

    li {
      &.pdf {
        list-style-image: url('../img/documents-pdf.png');
      }

      &.word {
        list-style-image: url('../img/documents-word.png');
      }

      &.document {
        list-style-image: url('../img/documents-doc.png');
      }

      &.zip {
        list-style-image: url('../img/documents-zip.png');
      }

      &.excel {
        list-style-image: url('../img/documents-excel.png');
      }

      &.powerpoint {
        list-style-image: url('../img/documents-ppt.png');
      }

      &.html {
        list-style-image: url('../img/documents-html.png');
      }
    }
  }
}

.events-wrapper {
  table {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;

    &.events tbody tr:nth-child(2n+1) td, table.events tbody tr:nth-child(2n+1) th {
      background-color: $light-yellow-color;
      border-top: 1px solid $alt-color;
    }

    .date {
      width: 70px;
    }
  }

  .location {
    line-height: 13px;

    a {
      color: #666;
      font-size: 11px;
      text-transform: uppercase;
    }
  }

  a {
    font-family: "Montserrat", sans-serif;
  }
}

.cta-bar {
  padding: 40px;

  h2 {
    font-family: $font-family-sans-narrow;
    font-size: 42px;
    margin-left: 24px;

    @media (max-width: $screen-sm-max) {
      text-align: center;
    }
  }

  p {
    font-size: 24px;

    @media (max-width: $screen-sm-max) {
      text-align: center;
    }
  }

  .btn-cta {
    box-shadow: 0 4px 4px #efefef;
    margin-top: 22px;
    padding: 27px 34px;

    @media (max-width: $screen-sm-max) {
      @include center-block();
    }
  }
}

