$iconSpritePath:      "../img/glyphicons-halflings.png";
$iconWhiteSpritePath: "../img/glyphicons-halflings-white.png";

$large-min-display:   1200px;
$medium-max-display:  979px;
$medium-min-display:  768px;
$small-max-display:   767px;
$xsmall-max-display:  480px;

$offwhite:            #fafafa;
$alt-color:           #dfaf0d;
$linkColor:           #922 !default;
$light-yellow-color:  #fcebb1;

$font-family-heading: 'Gotham SSm 8r','Gotham SSm A','Gotham SSm B';
$font-family-h2-h6:   'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B';
$font-family-block:   'Gotham SSm 2r', 'Gotham SSm A', 'Gotham SSm B';
