$iconSpritePath:      image-path("../img/glyphicons-halflings.png");
$iconWhiteSpritePath: image-path("../img/glyphicons-halflings-white.png");

$large-min-display:   1200px;
$medium-max-display:  979px;
$medium-min-display:  768px;
$small-max-display:   767px;
$xsmall-max-display:  480px;

$offwhite:            #fafafa;
$alt-color:           #dfaf0d;
