// General
body {
  position: relative;
}

p:empty {
  display: none;
}

body,
p,
ol,
ul,
li {
  color: #222;
  font-family: Georgia, serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 26px;
}

h2,
.h2,
h3,
.h3,
h4,
h5,
h6 {
  color: #222;
  font-family: $font-family-h2-h6;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -.025em;
}

a {
  h2,
  .h2,
  h3,
  .h3,
  h4,
  h5,
  h6 {
    color: $linkColor;
  }

  &:hover {
    h2,
    .h2,
    h3,
    .h3,
    h4,
    h5,
    h6 {
      color: $linkColorHover;
    }
  }
}

h1,
.h1 {
  font-family: $font-family-heading;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  text-transform: none;
}

h2,
.h2 {
  font-size: 26px;
}

h3,
.h3 {
  font-size: 18px;
  text-transform: none;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14.5px;
}

h6 {
  font-size: 14px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  text-transform: capitalize;
}

// Try to catch heading groups and apply extra spacing between copy as necessary.
// If spacing between .span's is adjusted at certain breakpoints, be sure to update this.
p + h1,
p + .h1,
ol + h1,
ol + .h1,
ul + h1,
ul + .h1,
p + h2,
p + .h2,
ol + h2,
ol + .h2,
ul + h2,
ul + .h2,
p + h3,
p + .h3,
ol + h3,
ol + .h3,
ul + h3,
ul + .h3,
p + h4,
p + .h4,
ol + h4,
ol + .h4,
ul + h4,
ul + .h4 {
  margin-top: 30px;
}

blockquote,
blockquote p {
  color: #222;
  font-family: $font-family-block;
  font-size: 32px;
  font-style: normal;
  font-weight: 200;
  line-height: 1.3em;
}

blockquote {
  border-left: 0;
  padding-left: 0;

  small {
    color: #222;
    display: block;
    font-family: 'Gotham SSm 5i', 'Gotham SSm A', 'Gotham SSm B';
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.3em;
    margin-top: 20px;
    text-align: left;
  }
}

hr {
  border-bottom-color: transparent;
  border-top-color: $alt-color;
  margin: 30px 0;

  &.gray {
    border-top-color: #eee;
  }
}

iframe,
embed,
object {
  height: 500px;
  margin: 35px 0 0;
  width: 100%;
}

// Components
a.btn,
button.btn {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

.caption {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  line-height: 1.2em;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
}

.callout {
  background-color: #fcc904;
  background-color: rgba(245, 192, 13, .95);
  box-shadow: -4px -3px 8px 0 rgba(50, 50, 50, .75);
  display: block;
  padding: 20px;

  blockquote {
    border-left: 0;
    margin-bottom: 0;
    padding: 0;

    small {
      color: #fff;
      font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2em;
    }
  }

  blockquote,
  blockquote p {
    color: #fff;
    font-family: $font-family-h2-h6;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -.025em;
    line-height: 1em;
  }
}

.cta {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;

  a {
    background-color: #222;
    color: #fff;
    display: block;
    font-family: $font-family-heading;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -.025em;
    line-height: 1em;
    margin: auto;
    padding: 25px 0;
    text-decoration: underline;
    width: 300px;
  }
}

// Utility
.whitespace {
  padding-bottom: 50px;
  padding-top: 50px;
}

.whitespace-2x {
  padding-bottom: 90px;
  padding-top: 90px;
}

.whitespace-xs {
  padding-bottom: 20px;
  padding-top: 20px;
}

.full-width {
  width: 100%;
}


// Navigation
.mobile-nav-toggle {
  display: none;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 15px;
  white-space: nowrap;
}

.mobile-nav-toggle:hover,
.mobile-nav-toggle:active,
.mobile-nav-toggle:visited {
  text-decoration: none;
}

.hamburger {
  border-bottom: 7px double #fff;
  border-top: 2px solid #fff;
  content: '';
  float: right;
  height: 3px;
  margin-left: 10px;
  width: 24px;
}

nav {
  text-align: center;

  ul {
    line-height: 1em;
    list-style-type: none;
    margin: 0;

    li {
      display: inline-block;
      line-height: 1em;
      padding: 10px 0;
    }
  }

  a {
    font-family: $font-family-heading;
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: 1em;
    padding: 0 20px;
    text-transform: uppercase;
  }

  &.header-nav {
    background-color: #333;
    background-color: rgba(0, 0, 0, .8);
    left: 0;
    padding: 10px 0; // Creates 20px spacing btwn edges of black bar and list items
    position: absolute;
    right: 0;
    top: 50px; // ucf header
    z-index: 999;

    a,
    a:hover {
      color: #fff;
    }
  }
}

// Subpages
.page-content {
  padding-bottom: 55px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
}


.single-update {
  h1 {
    margin-bottom: 0;
  }

  .date {
    color: $grayLight;
    font-style: italic;
    margin-bottom: 10px;
  }
}

// Footer
footer nav {
  border-bottom: 2px solid #d5d5d5;
  padding-bottom: 25px;

  a,
  a:hover {
    color: #d5d5d5 !important; // firefox fix
  }

  a:hover {
    text-decoration: underline;
  }
}

.footer-cta {
  font-family: $font-family-block;
  font-size: 36px;
  font-style: normal;
  font-weight: 200;
  letter-spacing: -.045em;
  line-height: 1.25em;
  margin-bottom: 80px;
  margin-top: 40px;
  text-align: center;

  a {
    color: #222;
    font-family: $font-family-heading;
    font-style: normal;
    font-weight: 800;
    text-decoration: underline;

    &:hover {
      color: $alt-color;
    }
  }
}

.footer-logo {
  margin-bottom: 80px;
  text-align: center;

  a {
    background-image: url('static/img/logo.png');
    display: block;
    height: 86px;
    margin: auto;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    width: 236px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .footer-logo a {
    background-image: url('static/img/logo-r.png');
    background-size: cover;
  }
}


@media all and (min-width: $small-max-display - 1) {
  // Add extra spacing btwn navbar and page content for basic subpages (w/o parallax headings)
  .page-base .page-content {
    padding-bottom: 75px;
    padding-top: 75px;
  }
}

@media all and (max-width: $large-min-display - 1) and (min-width: $medium-min-display) {
  .page-base h1 {
    margin-top: 20px; // Add extra space btwn content and navbar
  }
}

@media all and (max-width: $medium-max-display - 1) {
  h1,
  .h1 {
    font-size: 38px;
    line-height: 1.3em;
  }

  h2,
  .h2 {
    font-size: 18px;
  }

  h3,
  .h3 {
    font-size: 17px;
  }

  blockquote,
  blockquote p {
    font-size: 28px;
  }

  nav a { padding: 0 16px; }

  .callout blockquote,
  .callout blockquote p {
    font-size: 45px;
    line-height: 50px;
  }

  .whitespace-2x {
    padding-bottom: 75px;
    padding-top: 75px;
  }

  .footer-cta,
  .footer-logo {
    margin-bottom: 40px;
  }
}

@media all and (max-width: $small-max-display) {
  body {
    padding: 0;
  }

  p,
  ol,
  ul,
  li {
    font-size: 15px;
    line-height: 24px;
  }

  blockquote,
  blockquote p {
    font-size: 22px;
  }

  blockquote small {
    font-size: 16px;
  }

  hr {
    margin: 20px 0;
  }

  iframe,
  embed,
  object {
    height: 300px;
    margin: 20px 0 0;
  }

  .caption {
    line-height: 1.35em;
    padding-bottom: 15px;
  }

  .whitespace,
  .whitespace-2x,
  .whitespace-xs {
    padding-bottom: 0;
    padding-top: 0;
  }

  .whitespace + .whitespace,
  .whitespace-2x + .whitespace-2x {
    padding-top: 0;
  }

  nav.header-nav {
    height: 20px;
    max-height: 20px;
    overflow: hidden;
    top: auto; // ucf header
    transition: max-height .5s ease-in-out;
  }

  .mobile-nav-toggle {
    display: block;
  }

  nav.header-nav.mobile-active {
    height: auto;
    max-height: 1000px; // Some high value to trigger the css transition (css transitions don't work when transitioning to value of 'auto')
  }

  nav.header-nav.mobile-active .mobile-nav-toggle {
    color: $alt-color;
  }

  nav.header-nav.mobile-active .hamburger {
    border-color: $alt-color;
  }

  nav.header-nav ul li {
    display: block;
    margin: 3px 0;
    width: 100%;

    &:first-child {
      padding-top: 35px;
    }

    a {
      display: block;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }

  .page-content {
    padding-bottom: 30px;
    padding-top: 30px;

    [class*="span"] {
      padding-bottom: 10px;
    }

    .span12 {
      // Assume this contains a heading above another set of columns, which doesn't need padding.
      padding-bottom: 0;
    }
  }

  nav ul li {
    padding: 8px 0;
  }

  nav a {
    font-size: 14px;
    padding: 0 10px;
  }

  nav.header-nav {
    padding: 10px 0;
  }

  .page-base h1 {
    margin-top: 30px; // Add extra space btwn content and navbar
  }

  .footer-cta {
    font-size: 28px;
    line-height: 36px;
    padding: 0 20px;
  }
}

@media all and (max-width: $small-max-display) and (min-width: $xsmall-max-display + 1) {
  .callout blockquote,
  .callout blockquote p {
    font-size: 34px;
    line-height: 44px;
  }

  .callout blockquote small {
    font-size: 20px;
  }
}

@media all and (max-width: $xsmall-max-display) {
  iframe,
  embed,
  object {
    height: 200px;
  }

  body main.page-content {
    padding: 100px 20px;
  }

  .callout blockquote,
  .callout blockquote p {
    font-size: 25px;
    line-height: 28px;
  }

  .callout blockquote small {
    font-size: 16px;
    margin-top: 10px;
  }

  .cta a {
    font-size: 22px;
    padding: 20px 0;
    width: 260px;
  }
}
